/* chat geral */
.chatContainer {
  height: 76vh;
  display: flex;
  justify-content: center;
}

.chatMaster {
  background-color: rgba(17, 17, 31, 0.788);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.chat-body {
  height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

/* input */
.messageBox {
  width: fit-content;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  margin-top: 30px;
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  width: 400px;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding-left: 10px;
  color: white;
}

#messageInput:focus~#sendButton svg path,
#messageInput:valid~#sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

/* botão de enviar */
#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}

#sendButton svg path {
  transition: all 0.3s;
}

/* container de cada mensagem */
.message-container {
  max-width: 250px;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 0 7px 7px 7px;
  background-color: var(--azul-petroleo);
  align-self: flex-start;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 15px;
}

.message-mine {
  align-self: flex-end;
  background-color: var(--azul-claro);
  text-align: end;
  border-radius: 7px 0 7px 7px;
}

.authorName {
  color: var(--azul-escuro);
  text-transform: uppercase;
  font-family: var(--fonte-Quantico);
  font-weight: 700;
  font-size: 15px;
}

.fileUploadWrapper {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

#file {
  display: none;
}
.fileUploadWrapper label {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fileUploadWrapper label svg {
  height: 18px;
}
.fileUploadWrapper label svg path {
  transition: all 0.3s;
}
.fileUploadWrapper label svg circle {
  transition: all 0.3s;
}
.fileUploadWrapper label:hover svg path {
  stroke: #fff;
}
.fileUploadWrapper label:hover svg circle {
  stroke: #fff;
  fill: #3c3c3c;
}
.fileUploadWrapper label:hover .tooltip {
  display: block;
  opacity: 1;
}
.tooltip {
  position: absolute;
  top: -40px;
  display: none;
  opacity: 0;
  color: white;
  font-size: 10px;
  text-wrap: nowrap;
  background-color: #000;
  padding: 6px 10px;
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.596);
  transition: all 0.3s;
}

@media (max-width: 600px) {
  #messageInput {
    width: 250px;
  }
}