.titulo-container {
  padding: 15px;
}

#tabela-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90vw;
  overflow:auto;
  margin-bottom: 30px;
}

.tg-0lax {
  padding: 5px 20px;
  font-weight: 300;
}

thead .tg-0lax {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.seletor h3 {
  color: var(--color-1);
  font-family: var(--fonte-Jura);
  font-weight: 400;
  margin-bottom: 20px;
}

thead tr {
  background-color: var(--vermelho);
  color: var(--color-1);
  font-family: var(--fonte-quantico);
}

tbody .tg-0lax {
  color: var(--color-1);
  font-family: var(--fonte-Jura);
  background-color: #0a15209d;
  font-size: 18px;
}

#race-last {
  text-align: center;
  font-size: 25px;
  padding: 40px 0 20px 0;
}

.race-space {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.palpite-form {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
  justify-content: center;
}

.palpite-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.palpite-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 200px;
  font-size: 16px;
  color: var(--branco);
  background-color: var(--vermelho);
  text-align: center;
}

.palpite-button {
  background-color: var(--branco);
  color: var(--vermelho);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-family: var(--fonte-Quantico);
  height: 43px;
}

.resultado-button{
  border: 1px solid var(--vermelho);
  border-radius: 5px;
  padding: 10px 15px;
  height: 43px;
  text-transform: uppercase;
}

.palpite-button:hover {
  background-color: #7a0202;
  color: var(--branco);
}

#resultado {
  width: 850px;
  border-radius: 10px;
  border-color: var(--vermelho);
  box-shadow: 1px 0px 27px 3px rgba(255, 0, 0, 0.37);
  -webkit-box-shadow: 1px 0px 27px 3px rgba(255, 0, 0, 0.37);
  -moz-box-shadow: 1px 0px 27px 3px rgba(255, 0, 0, 0.37);
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
  color: #070606;
  list-style: none;
  transition: transform 0.3s, background-color 0.3s;
}

#resultado:hover {
  background-color: #1b1b1b;
}

#resultado p {
  margin: 10px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.pilotosResultado {
  margin-bottom: 10px;
}

#resultado p:nth-child(1) {
  animation-delay: 0.2s;
}

#resultado p:nth-child(n+2) {
  animation-delay: 0.4s;
}

#grafico-corrida{
  height: 500px;
  margin-top: 50px;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#container-camp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resposta-palpite {
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 18px;

}

@media (max-width: 430px) {
  #race-last {
    font-size: 20px;
    margin-top: -10px;
  }

  .palpite-form {
    margin: 10px 0;
  }
}