.titulo-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo-container h2{
    font-family: var(--fonte-Quantico);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}