.bg-card{
    background-color: var(--azul-petroleo);
}

.gridCardsProduto .produtoValText, #valorDePontosItem{
    font-weight: 600;
    color: var(--azul-petroleo);
    font-size: 13px;
    font-family: var(--fonte-Quantico);
    text-transform: uppercase;
}

.cardProduto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1225px) {
    .cardProduto {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 930px) {
    .cardProduto {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    .cardProduto {
        grid-template-columns: repeat(1, 1fr);
    }
}
