@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --azul-petroleo: #008080;
  --azul-escuro: rgb(8, 6, 24);
  --azul-claro: #0A3CFF;
  --branco: #FBFBFF;
  --vermelho: #D50019;
  --fonte-Jura: "Jura", sans-serif;
  --fonte-Quantico: "Quantico", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  color: var(--branco);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--azul-escuro);
  background-image: url('../img/background_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--fonte-Jura);
  height: 100vh;
}

strong {
  color: var(--azul-petroleo);
}

.main {
  margin: 50px;
  height: 100%;
}

#pontosSvg {
  height: 30px;
}

.titulo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.titulo-container h2 {
  font-family: var(--fonte-Quantico);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}