/* Nav geral */
.primary-navbar {
  background-color: var(--azul-escuro);
  z-index: 10;
  position: relative;
  text-transform: uppercase;
}

.nav-left {
  display: flex;
  padding: 36px 40px 15px 75px;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  position: relative;
  left: -5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-escuro);
  z-index: 100;
}

.bordaNeon {
  border: 1px solid var(--azul-petroleo);
  box-shadow: 1px 0px 27px 3px rgba(0, 128, 128, 0.75);
  -webkit-box-shadow: 1px 0px 27px 3px rgba(0, 128, 128, 0.75);
  -moz-box-shadow: 1px 0px 27px 3px rgba(0, 128, 128, 0.75);
}

#logo {
  height: 60px;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}

.navBar-color {
  background-color: var(--azul-escuro);
}

/* Responsividade Nav*/

@media screen and (max-width: 952px) {
  .menu-burguer {
    width: 100%;
    display: flex;
  }

  .nav-right {
    display: none;
  }

}