@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul-petroleo: #008080;
  --branco: #FBFBFF;
  --azul-claro: #0A3CFF;
  --azul-escuro: #030027;
}

/* Menu hamburguer */

.burger {
  position: relative;
  width: 20px;
  height: 15px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 14px;
  left: 5px;
}

/* Nav geral */

.container-titulo {
  display: grid;
  grid-template-columns: initial;
  width: 100%;
  height: 100px;
  padding-top: 50px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.container-titulo h1 {
  font-family: var(--fonte-quantico);
}

.container-titulo h4 {
  font-family: var(--fonte-Jura);
}

.primary-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--azul-petroleo);
  background-color: var(--azul-escuro);
}

.nav-left {
  display: flex;
  padding-left: 36px;
  height: 60px;
  border: 2px solid var(--azul-petroleo);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  position: relative;
  left: -1.85rem;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-escuro);
}

.logo-comp {
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  display: flex;
  align-items: center;
}

#logo {
  height: 10vh;
  width: 170px;
  cursor: pointer;
}

#nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 25px 7px 0;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}