.profileContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
}

.asideContainer, .codigoDivulgacaoContainer, .saldoContaianer{
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(10, 7, 29, 0.733);
}

.codigoDivulgacaoContainer .containerCodigoTitulo{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    gap: 10px;
}

.codigoDivulgacaoContainer{
    margin-bottom: 25px;
}

.pontosContainer{
    width: fit-content;
}

.codigoDivulgacaoContainer h2{
    font-size: 20px;
    text-wrap: wrap;
}

.codigoDivulgacaoContainer svg{
    width: 20px;
}

.topAsideProfile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 37px;
    margin-top: 10px;
    width: 30vw;
}

.topAsideProfile h2{
    font-size: 20px;
}

.svgAbsolute{
    position: absolute;
    width: 30vw;
    display: flex;
    justify-content: end;
}

.svgAbsolute svg{
    width: 20px;
    cursor: pointer;
}

.input:focus~.profileLabel,
input:valid~.profileLabel {
  background-color: var(--azul-escuro);
}

.profileInfoInoutGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    margin-bottom: 27px;
}

.enderecoContainer{
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.cepInput{
    width: 170px;
}

.numInput{
    width: 100px;
}

.mainContainer h1{
    font-family: var(--fonte-Quantico);
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 1220px) {
    .topAsideProfile, .svgAbsolute{
        width: 40vw;
    }
}

@media (max-width: 826px) {
    .topAsideProfile, .svgAbsolute{
        width: 300px;
    }
    .topAsideProfile h2{
        font-size: 18px;
    }
    .svgAbsolute svg{
        width: 18px;
    }
}